#box{
    height: 300px;
    width: 500px;
    border-style: solid;
    background-color: grey;
}
input[type="text"],input[type="email"],input[type="password"]{
    height: 30px;
    width: 300px;
    text-align: center;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    outline: 0;
    margin-left: 100px;
    border-bottom-color: black;
    background: transparent;
}
input::placeholder{
    color: black;
}
input[type="submit"],input[type="reset"],select{
    height: 35px;
    width: 305px;
    text-align: center;
    margin: 1px;
    margin-left: 100px;
    border-width: 0;
    border-radius: 10px;
    background-color: brown;
    color:white;
}
#subject{
    background-color: white;
    color:black;
    background: transparent;
    outline: 0;
}
input[type="submit"]:hover,input[type="reset"]:hover{
    background-color: darkcyan;
}