*{
    margin: 0px;
}
#outer{
    height: 668px;
    background-color: dodgerblue;
}
#inner{
    height: 668px;
    background-color: white;
    border-radius: 0% 0% 0% 100%;
}
h1{
    font-size: 60px;
    margin-left: 210px;
    margin-top: 250px;
    position: absolute;
}