#outer{
    width: 98%;
    border-style:solid;
    height: auto;
    padding: 1%;
    float: left;
}
#box{
    width: 18%;
    padding: 2%;
    margin: 1%;
    float: left;
    border-style: solid;
    text-align: justify;
}

@media screen and (max-width:850px){
#box{
    width: 43%;
    padding: 2%;
    margin: 1%;
}

}

@media screen and (max-width:625px){
#box{
    width: 92%;
    padding: 2%;
    margin: 1%;
}

}